html {
  --header-height: calc(5rem);
  scroll-padding-top: var(--header-height);
}

div.flexColumns {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  margin: auto;
}
nav button {
  height: 2rem;
}
button.sideBarItem {
  display: none;
}
.sideBarItem {
  position: fixed;
  z-index: 1;
}
.sideMenu {
  display: none;
  background-color: white;
  width: 50vw;
  height: calc(100vh - 4rem - 32px);
  left: 0;
  @media (pointer: coarse) {
    font-size: larger;
  }
}
.sideMenu > details {
  display: flex;
  flex-direction: column;
}
details > * {
  padding: 0.1cm;
  :not(summary) {
    display: flex;
    flex-direction: column;
  }
}
.sideTips {
  display: none;
  background-color: white;
  width: 50vw;
  height: 100%;
  right: 0;
  iframe {
    width: 100%;
    height: 100%;
  }
}
details > a {
  padding-left: 8px;
}
h1 {
  font-size: 2rem;
}
.header {
  height: var(--header-height);
  position: sticky;
  top: 0px;
}
.pointerContainer {
  position: sticky;
  top:var(--header-height);
  display: flex;
  font-size: 2rem;
  width: 2rem;
  height: calc(100vh - var(--header-height));
  background-color: whitesmoke;
  z-index:unset;
  
}
.mainContent {
  padding:2rem 2rem 2rem 0;
  width: 100%;
}
.mengxi-GraphContainer {
  float: right;
  clear: both;
  padding: 8px 8px 8px 0;
  width: 50%;
  margin: 1em 0 1em 1em;
  .mengxi-mindmap {
    width: 100%;
  }
}
