html {
  scroll-padding-top: calc(2rem + 32px);
}

div.flexColumns{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    margin:auto
}
.sideBarItem{
    display: none;
}
details > a{
    padding-left: 8px;
}
h1{
    font-size: 2rem;
}
.header{
    position: sticky;
    top: 0px;
}
.mainContent{
    padding:0 32px;
}
.mengxi-GraphContainer{
    display: block;
    padding: 8px 8px 8px 0;
    width: fit-content;
}