.sideMenu {
  overflow-y: auto;
}

.sideMenu > details {
  border-left: 8px orangered solid;
}
.sideMenu > details:nth-child(even) {
  background-color: whitesmoke;
}
details *{
  border-top: 1px black solid;
}
details > a {
  color: navy;
  padding-left: 4px;
  border-left: 8px blue solid;
}
details > summary {
  list-style: none;
}
details > summary::before {
  content: "📂";
}
h2 {
  font-family: serif;
  border-left: grey solid thick;
  padding-left: 0.25em; /*加个边界，显得比较分离*/
  transition: 0.25s ease-in;
  a {
    text-decoration: none;
    color: black;
  }
  ::before {
    content: "#";
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }
}
button.sideBarItem {
  font-size: 0.5cm;
}
.header {
  background-color: #7397ab;
}
.footer {
  background-color: #392f41;
}
.footer > * {
  color: white;
}
.mainContent {
  background-color: whitesmoke;
}
canvas.mengxi-mindmap {
  color: black;
  background-color: white;
}
.mengxi-GraphContainer {
  background-color: gainsboro;
  border-left: 8px dashed black;
}
.mengxi-GraphContainer > figcaption {
  color: black;
}
