.sideMenu > details:hover{
    background-color: cornsilk;
    border-right: 2px orangered solid;
}
details > a:hover{
    border-right: 2px blue solid;
}
h2:hover {
  border-left: navy solid thick;
  transition: 0.1s ease-in;
  a{
    color:navy;
    text-decoration: underline;
  }
  a:visited{
        color:#2b2b2b;
    }
  a:hover{
    color:blue
  }
  ::before{
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }
}